.desktop-header {
    display: none;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.hamburger-btn {
    font-size: 24px;
    background: none;
    border: none;
}

#mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#mobile-menu.open{
    max-height: 500px;
}

.header-search {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.header-search input, .header-search select, .header-search button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.main-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


@media (min-width: 768px) {
    .hamburger-btn {
        display: none;
    }

    .desktop-header {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
    }

    .header-search {
        flex-direction: row !important;
        gap: 20px;
    }

    .header-search input, .header-search select, .header-search button {
        width: auto;
    }
    .main-nav {
        flex-direction: row;
        gap: 20px;
    }

    #mobile-menu {
        display: none !important;
    }
}

.nav-icon {
  margin-right: 8px;
  vertical-align: middle;
}
